.DS_Store
/mock_source_of_input/
/excel_input/
/result/
/venv/
testcases/csv_input/
/utils/__pycache__
.env
/reports
*/temp
log*/
.pabotsuitenames
/resources/testdata/pdf
*.zip
*.pyc
*.xml
*.html
*.pdf
*.png
**/__pycache__/
*.postman_environment.json